/* General styles */

.App {
  text-align: center;
  background-color: #333842;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2,h4{
  font-weight: 200;
  font-size: 2.2rem;
}

/* styles for login form */

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


input{
  margin: 15px;
  padding: 10px;
  font-size: 1.2rem;
}

button{
  margin: 15px;
  padding: 10px;
  font-size: 1.2rem;
  color:#333842;
  background-color: white;
}


/* main styles */
.main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 20%;
}

.main input{
  width: 300px;
  margin: 15px 20%;
}



/* navbar styles */
.nav-bar{
  padding-top: 20px;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  #434a57;
}

.nav-bar button{
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  width: 100px;
  background-color: white;
}


