/* General styles */

.App {
  overflow: auto;
  text-align: center;
  background-color: #333842;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.title-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header i{
  margin-left: 12px;
}

h1{
  font-weight: 200;
  font-size: 2.4rem;
}

h2, h3, h4{
  font-weight: 400;
  font-size: 1.6rem;
}

a{
  color: white;
  text-decoration: none;
}

.dev-notes{
  text-align: left;
  padding: 0 10%;
}

/* styles for login form */

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin: 15px;
  padding: 10px;
  font-size: 1rem;
}

button{
  margin: 15px;
  padding: 10px;
  font-size: 1rem;
  color:#333842;
  background-color: white;
}


/* main styles */
.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main input{
  width: 320px;
  margin: 10px;
}

.inputs{
  margin: 25px 0;
}

.inputs, .button-group{
  display: flex;
  flex-direction: column;
}

.main button{
  width: 200px;
}

/* about styles */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-menu{
  width: 90%;
}

.outside-list{
  list-style: none;
  color: white;
  margin: 10px 0 5px 30%;
  text-align: left;
  font-size: 1.2rem;
}

.outside-list li{
  margin: 10px 0 0 0;
  list-style: none;
}

.about a{
  color: white;
}

.inside-list li{
  margin: 10px 0 0 0;
  list-style: none;
}

/* favorites styles */
.bws-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10%;
}

/* privacy styles */


.privacy p{
  text-align: left;
  padding: 30px;
  margin: 15px 10%;
  background: white;
  color: black;
}


/* recent styles */
.recent{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 10%;
}

.recent-item{
  display: flex;
  flex-direction: row;
}

.recent-item button{
  height: 30px;
  width: 45px;
  padding: 5px;
}


/* user styles */

.ca-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left space-between;
  padding: 0 10%;
}

.user i{
  margin-left: 10vw;
}

.user h2{
  text-decoration: underline;
}

.user p{
  text-align: left;
  margin: 10px 10%;
}

/* settings styles */
.settings li{
  list-style: none;
}



/* map styles */
.map-container{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 10%;
}

.map-container p{
  color: black;
  font-size: 1rem;
}

.map-container a{
  color: black;
  font-size: 1rem;
  text-decoration: underline;
}

.map-control-buttons{
  display: flex;
  justify-content: right;
  align-items: center;
}

.selector{
  width: 150px;
  height: 40px;
  margin: 10px;
  margin-bottom: 35px;
  display: inline-block;
  align-items: right;
  color: #333842;
}

.css-vj8t7z{
  min-height: 30px;
  margin: 10px;
}

.css-1492t68{
  padding: 5px;
}

.map-controls{
  align-content: center;
}

.fa-sliders{
  color: #333842;
  font-size: 1.6rem;
  margin: 10px;
}

/* menu styles */

.bm-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 40px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover{
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 36px;
  top: 38px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button{
  height: 24px;
  width: 24px;
}

.bm-cross{
  background: white;
}

.bm-menu{
  background: #333842;
  padding: 3.5em 1.5em 0;
  font-size: 1.45em;
  opacity: .9;
}

.bm-morph-shape{
  fill: #333842;
}

.bm-item-list{
  color: #b8b7ad;
}

.bm-overlay{
  background: rgba(0, 0, 0, 0.3);
}

/* navbar styles */
.nav-bar{
  padding-top: 10px;
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.fa-home, .fa-search, .fa-question, .fa-star, .fa-sign-in-alt, .fa-user-circle{
  color: white;
} 

/* .favorites{
  position: fixed;
  left: 56px;
  top: 35px;
} */

.search-hover {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

.fa-search:hover .search-hover {
  display: block;
}

.fa-phone{
  color: red;
}

.fa-product-hunt{
  color: rgb(83, 174, 248);
}

.fa-mouse{
  color: white;
}



/* PULSE */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 1.5s linear infinite;
  animation: pulse 1.5s linear infinite;
}
