/* General styles */

.App {
  overflow: auto;
  text-align: center;
  background-color: #333842;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  width: 90%;
  height: auto;
}

button{
  margin: 15px;
  padding: 10px;
  font-size: 1rem;
  color:#333842;
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2050px;
}

/* Header Styles */

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  width: 100%;
  height: 180px;
  justify-content: space-around;
}

.header .favorites{
  position: fixed;
  top: 32px;
  left: 64px;
  z-index: 1000;
}

.header .emergency{
  position: fixed;
  top: 32px;
  right: 38px;
  z-index: 1000;
}

.header .alarm{
  position: fixed;
  top: 32px;
  right: 110px;
  z-index: 1000;
}

.amazon{
  position: fixed;
  top: 92%;
  left: 2%;
  z-index: 1000;
}

.header p{
  font-style: italic;
}

/* .header .emergency .fa-house-damage{
  background-color: white;
  font-size: 2rem;
} */

.header .perptrac{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.title-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header i{
  margin-left: 12px;
}

h1{
  font-weight: 200;
  font-size: 2.4rem;
}

h2, h3, h4{
  font-weight: 400;
  font-size: 1.6rem;
}

a{
  color: white;
  text-decoration: none;
}

.dev-notes{
  text-align: left;
  padding: 0 10%;
}


/* styles for login form */

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin: 15px;
  padding: 10px;
  font-size: 1rem;
}

.login-group button{
  margin: 15px;
  padding: 10px;
  width: 200px;
  font-size: 1.rem;
  font-weight: 600;
  color:#333842;
  background-color: white;
}

/* main styles */
.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main input{
  width: 320px;
  margin: 10px;
}

.inputs{
  margin: 25px 0;
}

.inputs, .button-group{
  display: flex;
  flex-direction: column;
}

.main button{
  width: 200px;
}

.video-container{
  padding: 10px 4%;
  background-color: #414653;
}

.video-container .summary{
  display: inline-block;
  font-size: 2rem;
  margin: 0 25px 10px 25px;
}

/* .fa-play-circle{
  font-size: 2rem;
  padding: 0 5px 10px 5px;
}

.fa-file-alt{
  font-size: 2rem;
  padding: 0 5px 10px 5px;
} */


/* about styles */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-menu{
  width: 90%;
}

.outside-list{
  list-style: none;
  color: white;
  margin: 10px 0 5px 30%;
  text-align: left;
  font-size: 1.2rem;
}

.outside-list li{
  margin: 10px 0 0 0;
  list-style: none;
}

.about a{
  color: white;
}

.inside-list li{
  margin: 10px 0 0 0;
  list-style: none;
}

/* favorites styles */
.bws-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10%;
}

/* blacklist styles */

.blacklist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blacklist-item{
  width: 60%;
  background-color: #414653;
  margin: 15px;
}

.list-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-title h2{
  margin-right: 20px;
}

.e-d{
  width: 150px;
}

/* privacy styles */

.privacy p{
  text-align: left;
  padding: 30px;
  margin: 15px 10%;
  background: white;
  color: black;
}


/* recent styles */
.recent{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.recent-item{
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.recent-item button{
  height: 30px;
  width: 45px;
  padding: 5px;
}


/* user styles */

.ca-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left space-between;
  padding: 0 10%;
}

.user i{
  margin-left: 10vw;
}

.user h2{
  text-decoration: underline;
}

.user p{
  text-align: left;
  margin: 10px 10%;
}

.user ul{
  list-style: none;
  justify-content: left;
}

/* settings styles */
.settings li{
  list-style: none;
}

/* map styles */
.map-container{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 10%;
}

.control-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}


.map-control-buttons{
  display: flex;
  flex-direction: row;
}

.map-controls{
  margin: 10px 20px 10px 0;
}

.dd-wrapper{
  margin: 10px;
  z-index: 1000;
}


.dd-header-title{
  padding: 5px;
}

.dd-list{
  position: absolute;
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  z-index: 1000;
  background: #333842;
  opacity: .7;
}

.dd-list li{
  padding: 10px;
}

.fa-sliders{
  color: white;
  font-size: 1.4rem;
  margin: 10px;
}

.switch-view{
  margin-right: 12%;
}

.switch-view h4{
  font-size: 1.2rem;;
  color: white;
}

/* video-trace */
.video-trace{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-info{
  text-align: left;
  width: 60%;
}

/* styles for popup on map */
.gm-style-iw p{
  color: black;
  size: 1.4rem;
}

/* chart styles */

.chart-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}

.chart-container .control-bar{
  display: flex;
  align-self: center;
  width: 90%;
  margin: 0 10%;

}

.chart-control-buttons{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 16%;
  margin-top: 10px;
}

.chart-control-buttons button{
  width: 180px;
  height: 60px;
  text-align: center;
  align-content: center;
  vertical-align: center;
}

/* sidebar styles */

.side-bar{
  border: 1px solid red;
}

.bm-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 40px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover{
  color: white;
}

.bm-burger-button {
  margin: 36px;
  position: fixed;
  width: 20px;
  height: 20px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button{
  height: 24px;
  width: 24px;
}

.bm-cross{
  background: white;
}

.bm-menu{
  background: #333842;
  padding: 3.5em 1em 0;
  font-size: 1.45em;
  opacity: .9;
}

.bm-morph-shape{
  fill: #333842;
}

.bm-item-list{
  color: #b8b7ad;
}

.bm-overlay{
  background: rgba(0, 0, 0, 0.3);
}

/* navbar styles */
.nav-bar{
  padding-top: 10px;
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.fa-home, .fa-search, .fa-question, .fa-star, .fa-sign-in-alt, .fa-user-circle{
  color: white;
} 

/* .favorites{
  position: fixed;
  left: 56px;
  top: 35px;
} */

.search-hover {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

.fa-search:hover .search-hover {
  display: block;
}

.fa-phone{
  color: red;
}

.fa-house-damage{
  color: white;
}

.fa-product-hunt{
  color: rgb(83, 174, 248);
}

.fa-mouse{
  color: white;
}

.fa-amazon{
  font-size: 1.6rem;
}


/* Perp Demo Styles */

.perp-demo ul{
  list-style: none;
  justify-content: left;
  padding: 0px;
  margin: 0px;
}

.perp-demo li{
  padding: 10px;
}

/* Development Team Styles */
.dev-team{
  margin: 10px 20%;
  text-align: left;
  padding: 20px;
}

.dev-team-link{
  text-align: left;
  width: 170px;
  background-color: #414653;
  padding: 10px 20px;
}

.summary-docs ul{
  list-style: none;
}

/* PULSE */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 1.5s linear infinite;
  animation: pulse 1.5s linear infinite;
}


/* ---------- Media Queries ----------- */
/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .header {
    height: 200px;
  }

  .header .favorites{
    position: absolute;
    top: 36px;
    left: 50px;
  }

   .bm-burger-button{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 36px;
    left: 30px;
  }

  .header .alarm{
    position: absolute;
    top: 36px;
    right: 70px;
  }

  .header .emergency{
    position: absolute;
    top: 36px;
    right: 10px;
  }
}